---
---
<div class="sakura-root" aria-hidden="true">
  <span class="petal p0">❀</span>
  <span class="petal p1">❀</span>
  <span class="petal p2">❀</span>
  <span class="petal p3">❀</span>
  <span class="petal p4">❀</span>
  <span class="petal p5">❀</span>
  <span class="petal p6">❀</span>
</div>
